# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*.pyc

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.pytest_cache
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
Test Results*

# Jupyter NB Checkpoints
.ipynb_checkpoints/

# VS Code
.vscode/

# Spyder
.spyproject/

# PyDev
.pydevproject
.project
.settings

# Mac OS-specific storage files
.DS_Store

# VIM
*.swp
*.swo

# Pycharm
.idea

gurobi.log

# LaTex
*.log
*.aux
*.bbl
*.bcf
*.blg
*.toc
*.snm
*.nav
*.run.xml

# Sphinx
docs-source/_build

# Other
excluded
*.cache
venv*
/coverage.sh
scratchpad
*_py.new

