Sphinx==4.4.0
sphinx-rtd-theme>=1.0.0
numpydoc>=1.2
sphinx-codeautolink>=0.10
matplotlib>=3.4.3
networkx[default]>=2.6.3
mip>=1.14.0
ruamel.yaml>=0.17
numpy>=1.21
gurobipy>=9.5.0
more_itertools>=8.13.0
