Sphinx>=5.0
sphinx-rtd-theme>=1.0.0
numpydoc>=1.5
sphinx-codeautolink>=0.15
matplotlib>=3.4.3
networkx[default]>=2.6.3
ruamel.yaml>=0.17
numpy>=1.21
gurobipy>=11.0
preflibtools>=2.0.12
pabutools>=1.1.15
prefsampling>=0.1.19
pulp[highs]>=3.2
